server {
  listen 80;
  server_name www.{{ domain }} {{ domain }};

  return 301 https://{{ domain }}$request_uri;
}

server {
  listen 80;
  server_name www.m.{{ domain }} m.{{ domain }};

  return 301 https://m.{{ domain }}$request_uri;
}

server {
  listen 443 ssl;
  server_name www.{{ domain }};
  ssl on;
  ssl_certificate /etc/ssl/sites/ya888ya/{{ domain }}.crt;
  ssl_certificate_key /etc/ssl/sites/ya888ya/{{ domain }}.key;

  return 301 https://{{ domain }}$request_uri;
}

server {
  listen 443 ssl;
  server_name www.m.{{ domain }};
  ssl on;
  ssl_certificate /etc/ssl/sites/ya888ya/m.{{ domain }}.crt;
  ssl_certificate_key /etc/ssl/sites/ya888ya/m.{{ domain }}.key;

  return 301 https://m.{{ domain }}$request_uri;
}

server {
  listen 443 ssl;
  server_name {{ domain }};
  root /var/www/ya888ya/html;

  ssl on;
  ssl_certificate /etc/ssl/sites/ya888ya/{{ domain }}.crt;
  ssl_certificate_key /etc/ssl/sites/ya888ya/{{ domain }}.key;

  index index.php;

  location ~* ^/(application|modules|system) {
        access_log off; log_not_found off; deny all;
  }

  try_files $uri $uri/ /index.php?$query_string;

  # Prevent access to hidden files
  location ~ /\. {
        access_log off; log_not_found off; deny all;
  }

  #
  location ~ (\.md|example|conf)$ {
    log_not_found off;
    return 403;
  }

  access_log /var/log/nginx/ya888ya/access.log;
  error_log  /var/log/nginx/ya888ya/error.log;

  # Pass all .php files onto a php-fpm/php-fcgi server
    location ~* \.php$ {
      # Zero-day exploit defense (http://forum.nginx.org/read.php?2,88845,page=3)
      try_files $uri = 404;

      # Include common fastcgi params
      include fastcgi_params;

      # General fastcgi params
      fastcgi_pass  unix:/run/php/php7.0-fpm-ya888ya.sock;
      fastcgi_index index.php;
      fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;

      # Additional fastcgi params to support PATH_INFO
      #fastcgi_split_path_info ^(.+\.php)(/.+)$;
      #fastcgi_param PATH_INFO $fastcgi_path_info;
      #fastcgi_param PATH_TRANSLATED $document_root$fastcgi_path_info;

      # Additional fastcgi params to avoid random 503 errors from nginx
      fastcgi_connect_timeout 60;
      fastcgi_send_timeout 180;
      fastcgi_read_timeout 180;
      fastcgi_buffer_size 128k;
      fastcgi_buffers 4 256k;
      fastcgi_busy_buffers_size 256k;
      fastcgi_temp_file_write_size 256k;
      fastcgi_intercept_errors off;
    }
}

server {
  listen 443 ssl;
  server_name m.{{ domain }};
  root /var/www/ya888ya/html;

  ssl on;
  ssl_certificate /etc/ssl/sites/ya888ya/m.{{ domain }}.crt;
  ssl_certificate_key /etc/ssl/sites/ya888ya/m.{{ domain }}.key;

  index index.php;

  location ~* ^/(application|modules|system) {
        access_log off; log_not_found off; deny all;
  }

  try_files $uri $uri/ /index.php?$query_string;

  # Prevent access to hidden files
  location ~ /\. {
        access_log off; log_not_found off; deny all;
  }

  #
  location ~ (\.md|example|conf)$ {
    log_not_found off;
    return 403;
  }

  access_log /var/log/nginx/ya888ya/access.log;
  error_log  /var/log/nginx/ya888ya/error.log;

  # Pass all .php files onto a php-fpm/php-fcgi server
    location ~* \.php$ {
        # Zero-day exploit defense (http://forum.nginx.org/read.php?2,88845,page=3)
    try_files $uri = 404;

      # Include common fastcgi params
      include fastcgi_params;

      # General fastcgi params
      fastcgi_pass  unix:/run/php/php7.0-fpm-ya888ya.sock;
      fastcgi_index index.php;
      fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;

      # Additional fastcgi params to support PATH_INFO
      #fastcgi_split_path_info ^(.+\.php)(/.+)$;
      #fastcgi_param PATH_INFO $fastcgi_path_info;
      #fastcgi_param PATH_TRANSLATED $document_root$fastcgi_path_info;

      # Additional fastcgi params to avoid random 503 errors from nginx
      fastcgi_connect_timeout 60;
      fastcgi_send_timeout 180;
      fastcgi_read_timeout 180;
      fastcgi_buffer_size 128k;
      fastcgi_buffers 4 256k;
      fastcgi_busy_buffers_size 256k;
      fastcgi_temp_file_write_size 256k;
      fastcgi_intercept_errors off;
    }
}